/* Estilos básicos del body */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #2c3e50, #bdc3c7);
    background-size: 100% 100%; /* Asegura que el gradiente cubra toda el área visible */
    background-attachment: fixed; /* Mantiene el fondo fijo mientras el contenido se desplaza */
    background-repeat: no-repeat; /* Evita la repetición del fondo */
}

/* Contenedor principal */
.container {
    text-align: center;
    background: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
}

/* Estilo del título */
.title {
    font-size: 32px;
    color: #34495e;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

/* Estilo del mensaje */
.message {
    font-size: 20px;
    color: #7f8c8d;
    line-height: 1.6;
}
/* Estilo del botón de volver al portafolio */
.back-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #3498db; /* Color de fondo del botón */
    color: white; /* Color del texto */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.back-button:hover {
    background-color: #2980b9; /* Color de fondo cuando el ratón está sobre el botón */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
